<%- include('partials/head.ejs'); %>

<main>

<% 
	for(i = 0; i < photos.length; i++) { 
	
		var year = photos[i].date.getFullYear();
		var month = photos[i].date.getMonth() + 1;
		
		if(month < 10) {
			month = '0' + month;
		} else {
			month = month.toString();
		}
%>
	<article class="photo" data-photoid="<%= photos[i].id %>">
		<header>
			<img src="/usermedia/profilepics/<%= photos[i].profpic %>" alt="<%= photos[i].username %>" />
			<p><a href="/explore/user/<%= photos[i].username %>">@<%= photos[i].username %></a></p>
		</header>
		<main>
			<img src="/usermedia/photos/<%= year %>/<%= month %>/<%= photos[i].filename %>" alt="<%= photos[i].filename %>" />
		</main>
		<footer>
			<p class="caption"><a href="/explore/user/<%= photos[i].username %>"><%= photos[i].username %></a> <%= photos[i].caption %></p>
			<ul class="comments">
			<% for(x = 0; x < photos[i].comments.length; x++) { %>
				<li><a href="/explore/user/<%= photos[i].comments[x].username; %>"><%= photos[i].comments[x].username; %></a> <%= photos[i].comments[x].comment; %></li>
			<% } %>
			</ul>
			<form name="commentForm">
				<input type="hidden" name="photoid" value="<%= photos[i].id %>" />
				<input type="text" name="comment" maxlength="140" placeholder="Comment plaatsen..." />
			</form>
		</footer>
	</article>
<% } %>

</main>

<script src="../assets/client_js/index.js"></script>

<%- include('partials/foot.ejs'); %>