<%- include('../partials/head.ejs') %>
<main>

	<header>
		<img src="/usermedia/profilepics/<%= user.username %>" alt="<%= user.username %>" />
		<div>
			<h1><%= user.username %></h1>
			<p><span class="name"><%= user.name %></span><br /><span class="bio"><%= user.bio %></span></p>
		</div>
	</header>
	<main>
		<% for (i = 0; i < photos.length; i++) { 
			var year = photos[i].date.getFullYear();
			var month = photos[i].date.getMonth() + 1;
			
			if(month < 10) {
				month = '0' + month;
			} else {
				month = month.toString();
			}
		%>
			<img src="/usermedia/photos/<%= year %>/<%= month %>/<%= photos[i].filename %>" />
		<% } %>
	</main>
</main>
<%- include('../partials/foot.ejs') %>